/* Loading all of the fonts included in the login page */
@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

#itemName {
   -fx-font-family: "Montserrat Bold";
   -fx-font-size: 32px;   
}

#brandLabel, #categoryLabel, #warrantyPeriodLabel {
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 12px;
}

#priceLabel, #quantityLabel {
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 22px;
}

#price {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 24px;
}

#description {
    -fx-font-family: "Montserrat Regular";
}

#brand, #category, #warrantyPeriod {
    -fx-font-family: "Montserrat Light";
    -fx-font-size: 12px;
}

#goBackButton, #addToCartButton, #viewCartButton {
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 14px;
    -fx-background-color: #967126;
    -fx-text-fill: white;
    transition: -fx-background-color;
}

#decrementButton, #incrementButton {
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 14px;
    -fx-text-fill: #3A3B3C;
}

#addToCartButton, #viewCartButton {
    -fx-font-size: 18px;
}

#decrementButton:disabled, #incrementButton:disabled, #addToCartButton:disabled, #viewCartButton:disabled {
    -fx-opacity: 0.5; /* Makes it appear dim */
    -fx-background-color: gray; /* Change the background */
    -fx-text-fill: lightgray; /* Change text color */
}

#goBackButton:hover, #addToCartButton:hover, #viewCartButton:hover {
    -fx-background-color: #b48d37;
}

#goBackButton:pressed, #addToCartButton:pressed, #viewCartButton:hover {
    -fx-background-color: #7a5b1f;
}

#additionalDetails {
    -fx-font-family: "Montserrat Light";
    -fx-font-size: 12px;
}